.button{
  display: inline-block;
  //background: #34C1FE55;
  //border:1px solid #80D9FF;
  padding: 10px 15px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 50px;
  cursor: pointer;
  //color: #80D9FF;
  &:hover{
    //background: #34C1FE88;
  }
}

.button-circular{
  width: 46px;
}

.danger{
  width: auto !important;
  color: #ff8080;
  background: rgba(254, 52, 136, 0.33) !important;
  border:1px solid #ff8080 !important;
  box-shadow: 0px 0px 20px rgba(255, 66, 66, 0.63), inset 0px 0px 27px 10px rgba(107, 35, 35, 0.25) !important;
  &:hover{
    background: rgba(255, 155, 155, 0.75);
  }
}

.actions{
  position:fixed;
  width:100%;
  bottom:0;
  text-align: center;
}